$main-color: black;

body {
  font-family: Tahoma,Verdana,Segoe,sans-serif;
  background-image: url('jpeg.jpg');
}

.well img {
  width: 300px;
}

.well {
  min-height: 720px;
}

.sale-item {
  color: red;
  font-size: 16px;
}