<h1>Product Updated</h1>

  <h2>Name: <%= @recipe.name %></h2>
  <h4>Price: <%= @recipe.price %></h4>
  <h3>Image: <%= @recipe.image %></h3>
  <h3>Description: <%= @product.description %></h3>

  <a href="/products">Home</a>