<h1>Shoe Added to Database</h1>

<h2><%= @product.name %></h2>
<h2><%= @product.price %></h2>
<h2><%= @product.image %></h2>
<h2><%= @product.description %></h2>

<a href="/all_available_products"><all recipes</a> 